<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Congrats, your post is live!</p>
    <br><br>
    <p>Please Choose an Action</p>
    <a href="/posts/post">Create Post</a>
    <br><br>
    <a href="/posts/yourPosts">View Your Posts</a>
    <br><br>
    <a href="/posts/allPosts">View All Posts</a>
    <br><br>
    <a href="/posts/deletePost">Delete A Post</a>
    <br><br>
    <a href="/auth/logout">Logout</a>
  </body>
</html>
