<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/auth/signup" method="post">
      <p>Username/Email</p>
      <input type="text" name="username" placeholder="username" required />
      <br /><br />
      <p>Password</p>
      <input type="password" name="password" placeholder="password" required />
      <br /><br />
      <button type="submit">Signup</button>
      <br /><br />
      <p>Already A Member?</p>
      <br />
      <a href="/auth/login">Login</a>
    </form>
  </body>
</html>
